/***********************************************************************
Please excuse the variable names, as a script was used to scrape and
replace in order to save time and ensure uniqueness. This means that
they are extremely long and ugly, and may one day be subject to manual
review. Until that day, they serve their purpose.

The CSS values in and outline for this CSS file come from the default
and bleached styles provided by the author of SugarCube 2. As such,
the following 2-clause BSD license applies:
  
Copyright (c) 2013-2019, Thomas Michael Edwards <thomasmedwards@gmail.com>.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
***********************************************************************/

:root {
  --body-color: #eee;
  --body-bg-color: #111;
  --a-color: #68d;
  --a-color-hover: #8af;
  --span-link-disabled-color: #aaa;
  --button-color: #eee;
  --button-bg-color: #35a;
  --button-border-color: #57c;
  --button-hover-bg-color: #57c;
  --button-hover-border-color: #79e;
  --button-disabled-bg-color: #444;
  --button-disabled-border-color: #666;
  --input-select-textarea-color: #eee;
  --input-select-textarea-border-color: #444;
  --input-select-textarea-focus-hover-bg-color: #333;
  --input-select-textarea-focus-hover-border-color: #eee;
  --hr-border-color: #eee;
  --error-view-bg-color: #511;
  --error-view-border-left-color: #c22;
  --error-view-source-nothidden-bg-color: rgba(0, 0, 0, 0.2);
  --ui-bar-bg-color: #222;
  --ui-bar-border-color: #444;
  --ui-bar-hr-border-color: #444;
  --ui-bar-history-color: #eee;
  --ui-bar-history-border-color: #444;
  --ui-bar-history-hover-bg-color: #444;
  --ui-bar-history-hover-border-color: #eee;
  --ui-bar-history-disabled-color: #444;
  --ui-bar-history-disabled-bg-color: transparent;
  --ui-bar-history-disabled-border-color: #444;
  --menu-ul-border-color: #444;
  --menu-li-not-first-child-border-top-color: #444;
  --menu-li-a-color: #eee;
  --menu-li-a-hover-bg-color: #444;
  --menu-li-a-hover-border-color: #eee;
  --ui-overlay-bg-color: #000;
  --ui-dialog-titlebar-bg-color: #444;
  --ui-dialog-close-hover-bg-color: #b44;
  --ui-dialog-close-hover-border-color: #d66;
  --ui-dialog-body-bg-color: #111;
  --ui-dialog-body-border-color: #444;
  --ui-dialog-body-hr-bg-color: #444;
  --ui-dialog-body-list-li-not-first-child-border-top-color: #444;
  --ui-dialog-body-list-li-a-color: #eee;
  --ui-dialog-body-list-li-a-hover-bg-color: #333;
  --ui-dialog-body-list-li-a-hover-border-color: #eee;
  --ui-dialog-body-saves-tr-not-first-child-border-top-color: #444;
  --ui-dialog-body-saves-empty-color: #999;
  --ui-dialog-body-settings-control-color: #eee;
  --ui-dialog-body-settings-control-border-color: #444;
  --ui-dialog-body-settings-control-hover-bg-color: #333;
  --ui-dialog-body-settings-control-hover-border-color: #eee;
  --ui-dialog-body-settings-control-enabled-bg-color: #282;
  --ui-dialog-body-settings-control-enabled-border-color: #4a4;
  --ui-dialog-body-settings-control-enabled-hover-bg-color: #4a4;
  --ui-dialog-body-settings-control-enabled-hover-border-color: #6c6;
  --debug-bar-watch-bg-color: #222;
  --debug-bar-watch-border-color: #444;
  --debug-bar-watch-div-color: #999;
  --debug-bar-views-toggle-color: #eee;
  --debug-bar-views-toggle-border-color: #444;
  --debug-bar-views-toggle-hover-bg-color: #333;
  --debug-bar-views-toggle-hover-border-color: #eee;
  --htmldata-debug-view-debug-bar-views-toggle-bg-color: #282;
  --htmldata-debug-view-debug-bar-views-toggle-border-color: #4a4;
  --htmldata-debug-view-debug-bar-views-toggle-hover-bg-color: #4a4;
  --htmldata-debug-view-debug-bar-views-toggle-hover-border-color: #6c6;
  --html-notdata-debug-view-debug-view-toggle-color: #eee;
  --html-notdata-debug-view-debug-view-toggle-border-color: #444;
  --html-notdata-debug-view-debug-view-toggle-hover-bg-color: #333;
  --html-notdata-debug-view-debug-view-toggle-hover-border-color: #eee;
  --htmldata-debug-view-debug-view-toggle-bg-color: #282;
  --htmldata-debug-view-debug-view-toggle-border-color: #4a4;
  --htmldata-debug-view-debug-view-toggle-hover-bg-color: #4a4;
  --htmldata-debug-view-debug-view-toggle-hover-border-color: #6c6;
  --htmldata-debug-view-debug-bg-color: #234;
  --htmldata-debug-view-debug-hidden-debug-bg-color: #555;
}

body {
  color: var(--body-color);
  background-color: var(--body-bg-color);
}
#init-screen {
  background-color: var(--body-bg-color);
}
a {
  color: var(--a-color);
}
a:hover {
  color: var(--a-color-hover);
}
span.link-disabled {
  color: var(--span-link-disabled-color);
}
button {
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-color: var(--button-border-color);
}
button:hover {
  background-color: var(--button-hover-bg-color);
  border-color: var(--button-hover-border-color);
}
button:disabled {
  background-color: var(--button-disabled-bg-color);
  border-color: var(--button-disabled-border-color);
}
input, select, textarea {
  color: var(--input-select-textarea-color);
  border-color: var(--input-select-textarea-border-color);
}
input:not(:disabled):focus, select:not(:disabled):focus, textarea:not(:disabled):focus,
input:not(:disabled):hover, select:not(:disabled):hover, textarea:not(:disabled):hover {
  background-color: var(--input-select-textarea-focus-hover-bg-color);
  border-color: var(--input-select-textarea-focus-hover-border-color);
}
hr {
  border-color: var(--hr-border-color);
}

.error-view {
  background-color: var(--error-view-bg-color);
  border-left-color: var(--error-view-border-left-color);
}
.error-view > .error-source:not([hidden]) {
  background-color: var(--error-view-source-nothidden-bg-color);
}

#ui-bar {
  background-color: var(--ui-bar-bg-color);
  border-color: var(--ui-bar-border-color);
}
#ui-bar hr {
  border-color: var(--ui-bar-hr-border-color);
}
#ui-bar-toggle,
#ui-bar-history [id|="history"] {
  color: var(--ui-bar-history-color);
  border-color: var(--ui-bar-history-border-color);
}
#ui-bar-toggle:hover,
#ui-bar-history [id|="history"]:hover {
  background-color: var(--ui-bar-history-hover-bg-color);
  border-color: var(--ui-bar-history-hover-border-color);
}
#ui-bar-history [id|="history"]:disabled {
  color: var(--ui-bar-history-disabled-color);
  background-color: var(--ui-bar-history-disabled-bg-color);
  border-color: var(--ui-bar-history-disabled-border-color);
}
#menu ul {
  border-color: var(--menu-ul-border-color);
}
#menu li:not(:first-child) {
  border-top-color: var(--menu-li-not-first-child-border-top-color);
}
#menu li a {
  color: var(--menu-li-a-color);
}
#menu li a:hover {
  background-color: var(--menu-li-a-hover-bg-color);
  border-color: var(--menu-li-a-hover-border-color);
}

/* Default dialog styling */
#ui-overlay {
  background-color: var(--ui-overlay-bg-color);
}
#ui-dialog-titlebar {
  background-color: var(--ui-dialog-titlebar-bg-color);
}
#ui-dialog-close:hover {
  background-color: var(--ui-dialog-close-hover-bg-color);
  border-color: var(--ui-dialog-close-hover-border-color);
}
#ui-dialog-body {
  background-color: var(--ui-dialog-body-bg-color);
  border-color: var(--ui-dialog-body-border-color);
}
#ui-dialog-body hr {
  background-color: var(--ui-dialog-body-hr-bg-color);
}

/* List-based dialog styling */
#ui-dialog-body.list li:not(:first-child) {
  border-top-color: var(--ui-dialog-body-list-li-not-first-child-border-top-color);
}
#ui-dialog-body.list li a {
  color: var(--ui-dialog-body-list-li-a-color);
}
#ui-dialog-body.list li a:hover {
  background-color: var(--ui-dialog-body-list-li-a-hover-bg-color);
  border-color: var(--ui-dialog-body-list-li-a-hover-border-color);
}

/* Saves dialog styling */
#ui-dialog-body.saves > *:not(:first-child),
#ui-dialog-body.saves tr:not(:first-child) {
  border-top-color: var(--ui-dialog-body-saves-tr-not-first-child-border-top-color);
}
#ui-dialog-body.saves .empty {
  color: var(--ui-dialog-body-saves-empty-color);
}

/* Settings dialog styling */
#ui-dialog-body.settings button[id|="setting-control"] {
  color: var(--ui-dialog-body-settings-control-color);
  border-color: var(--ui-dialog-body-settings-control-border-color);
}
#ui-dialog-body.settings button[id|="setting-control"]:hover {
  background-color: var(--ui-dialog-body-settings-control-hover-bg-color);
  border-color: var(--ui-dialog-body-settings-control-hover-border-color);
}
#ui-dialog-body.settings button[id|="setting-control"].enabled {
  background-color: var(--ui-dialog-body-settings-control-enabled-bg-color);
  border-color: var(--ui-dialog-body-settings-control-enabled-border-color);
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
  background-color: var(--ui-dialog-body-settings-control-enabled-hover-bg-color);
  border-color: var(--ui-dialog-body-settings-control-enabled-hover-border-color);
}

/* Debug bar styling */
#debug-bar,
#debug-bar-toggle,
#debug-bar-watch {
  background-color: var(--debug-bar-watch-bg-color);
  border-color: var(--debug-bar-watch-border-color);
}
#debug-bar-watch div {
  color: var(--debug-bar-watch-div-color);
}
#debug-bar-toggle,
#debug-bar-watch-toggle,
#debug-bar-views-toggle {
  color: var(--debug-bar-views-toggle-color);
  border-color: var(--debug-bar-views-toggle-border-color);
}
#debug-bar-toggle:hover,
#debug-bar-watch-toggle:hover,
#debug-bar-views-toggle:hover {
  background-color: var(--debug-bar-views-toggle-hover-bg-color);
  border-color: var(--debug-bar-views-toggle-hover-border-color);
}
#debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle,
html[data-debug-view] #debug-bar-views-toggle {
  background-color: var(--htmldata-debug-view-debug-bar-views-toggle-bg-color);
  border-color: var(--htmldata-debug-view-debug-bar-views-toggle-border-color);
}
#debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle:hover,
html[data-debug-view] #debug-bar-views-toggle:hover {
  background-color: var(--htmldata-debug-view-debug-bar-views-toggle-hover-bg-color);
  border-color: var(--htmldata-debug-view-debug-bar-views-toggle-hover-border-color);
}

/* Debug view styling */
html:not([data-debug-view]) #debug-view-toggle {
  color: var(--html-notdata-debug-view-debug-view-toggle-color);
  border-color: var(--html-notdata-debug-view-debug-view-toggle-border-color);
}
html:not([data-debug-view]) #debug-view-toggle:hover {
  background-color: var(--html-notdata-debug-view-debug-view-toggle-hover-bg-color);
  border-color: var(--html-notdata-debug-view-debug-view-toggle-hover-border-color);
}
html[data-debug-view] #debug-view-toggle {
  background-color: var(--htmldata-debug-view-debug-view-toggle-bg-color);
  border-color: var(--htmldata-debug-view-debug-view-toggle-border-color);
}
html[data-debug-view] #debug-view-toggle:hover {
  background-color: var(--htmldata-debug-view-debug-view-toggle-hover-bg-color);
  border-color: var(--htmldata-debug-view-debug-view-toggle-hover-border-color);
}
html[data-debug-view] .debug {
  background-color: var(--htmldata-debug-view-debug-bg-color);
}
html[data-debug-view] .debug.hidden,
html[data-debug-view] .debug.hidden .debug {
  background-color: var(--htmldata-debug-view-debug-hidden-debug-bg-color);
}

